.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
    font-size: 18px;
    margin-left: 16px;
    }
    
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        border: 1px white solid;
    }
}